.wallet-form {
  color: #003be5;
  font-size: 1.15rem;
  font-weight: 700;
}

.wallet-form--input {
  border: 1px solid #003be5;
  color: #003be5;
  font-size: 16px;
  font-weight: 400;
}

.wallet-form--up {
  display: flex;
  justify-content: space-evenly;
}

.wallet-form--down {
  display: flex;
  justify-content: space-evenly;
}


.wallet-form label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wallet-form--btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.wallet-form--btn button {
  background: #2fc18c;
  border: 1px solid #2fc18c;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 10px 50px;
}

.wallet-form--btn button:hover {
  cursor: pointer;
  scale: 1.1;
}

